#root {
  margin: 30px;
}

input, button {
  margin-right: 10px;
  font-size: 16px;
  padding: 6px;
}

li {
  margin-bottom: 7px;
}

li > button {
  padding: 2px 4px;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 12px;
}

li.done {
  text-decoration: line-through;
}

input[type=checkbox] {
  margin: 0px 7px 0px 10px;
}

button.delete {
  color: red;
}